<div class="dialog-wrapper">
  <h1 class="d-flex">Add list item</h1>

  <mat-icon (click)="closeDialog()">close</mat-icon>

  <div class="flex-center">
    <mat-form-field appearance="outline">
      <mat-label>Add item</mat-label>
      <input [formControl]="itemValue" matInput type="text">
      <mat-error>
        Item value is required
      </mat-error>
    </mat-form-field>
  </div>

  <div class="d-flex">
    <button (click)="submit()" [disabled]="itemValue?.invalid" mat-button>Add item</button>
  </div>
</div>

