<div class="global-wrapper p-1">
  <div class="d-flex p-1">
    <button (click)="openAddListDialog()" mat-button>Add list item</button>
  </div>


  <mat-card class="p-1 m-1">
    <mat-card-header>
      <mat-card-title><h2>To Do List</h2></mat-card-title>
    </mat-card-header>

    <mat-card-content class="p-1">
      <ng-template [ngIfElse]="allDone" [ngIf]="listItems.length > 0">
        <div *ngFor="let item of listItems; trackBy: trackByFn" class="flex-between w-100">
          <mat-checkbox (change)="completeItem(item)">
            {{item.value}} -- {{item.date | date: 'dd.MM.yyyy hh:mm'}}
          </mat-checkbox>

          <div class="flex-between">
            <mat-icon (click)="openAddListDialog(item)">edit</mat-icon>

            <mat-icon (click)="deleteItem(item)">delete</mat-icon>
          </div>
        </div>
      </ng-template>

      <ng-template #allDone>
        <h4>All Done!!</h4>
      </ng-template>
    </mat-card-content>
  </mat-card>


  <mat-card *ngIf="completedItems.length > 0" class="p-1 m-1">
    <mat-card-header>
      <mat-card-title><h2>Completed 🎉</h2></mat-card-title>
    </mat-card-header>

    <mat-card-content class="p-1">
      <div *ngFor="let item of completedItems; trackBy: trackByFn">
        <mat-checkbox color="primary" (change)="removeToList(item)" checked class="flex-between">
          <span>{{item.value}}</span> -- {{item.date | date: 'dd.MM.yyyy hh:mm'}}
        </mat-checkbox>
      </div>
    </mat-card-content>
  </mat-card>
</div>

